certifi==2021.5.30
chardet==4.0.0
idna==2.10
ImageHash==4.2.0
imutils==0.5.4
numpy==1.19.5
opencv-python==4.5.2.54
Pillow==8.2.0
PyWavelets==1.1.1
requests==2.25.1
scipy==1.5.4
selenium==3.141.0
six==1.16.0
urllib3==1.26.5
